* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6496e1;
  background-color: #011e30;
  font-family: "Space Mono", monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.logo {
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  color: #fff;
}

.subTitle {
  color: #bdc8cd;
  font-size: 1.1rem;
}

.loginForm {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* chapter component  */

.buttonsForm {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.btn,
.playerInput {
  padding: 1rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s, border 0.5s;
  font-size: 1.2rem;
  border: 5px solid #089f00;
  font-family: "Space Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn:hover {
  transform: scale(1.02);
  /* box-shadow: 1px 5px 10px rgba(73, 71, 71, 0.2); */
  border: 5px solid #f3712d;
}

.chapterWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 5px solid #bdc8cd;
  border-radius: 5px;
  padding: 1rem;
}

.lives {
  font-size: 3rem;
  letter-spacing: 10px;
}
/* .narration {
  letter-spacing: 3px;
} */

/* player */

.player {
  align-self: center;
  text-align: center;
}

.player__username {
  padding-bottom: 2rem;
  color: #bdc8cd;
}

.player__avatar {
  max-width: 100px;
}

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.step-wrap {
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 15%;
}

.steps {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f3712d;
}

h3 {
  font-size: 1.5rem;
}
/* Utility Classes */

.center {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.stack-md > * + * {
  margin-top: 2rem;
}
